@media (min-width: 320px) {
  .--hero-wrapper {
    @apply tw-h-[149%];
  }
  .--hero-title {
    @apply tw-text-[2.2rem] tw-mt-1;
  }
  .--hero-description {
    @apply tw-text-[1.438rem];
  }
  .--grid-box {
    @apply tw-mt-4;
  }
  .count-title {
    @apply tw-text-[0.8rem] tw-w-fit;
  }
  .count {
    h2 {
      @apply tw-text-[1.5rem] tw-w-fit;
    }
    &:first-child {
      background: red;
    }
  }

  .--grid-box > div {
    @apply tw-gap-10;
  }
  .--info-wrapper > div:nth-child(1) {
    @apply tw-border-none;
  }
}
@media (min-width: 481px) {
  .--hero-title {
    @apply tw-text-[2.2rem] tw-mt-1;
  }
  .--hero-description {
    @apply tw-text-[1.438rem];
  }
  .--grid-box {
    @apply tw-mt-4;
    & > div {
      //   @apply tw-gap-x-10;
    }
  }
  .count-title {
    @apply tw-text-[0.8rem] tw-w-fit;
  }
  .count {
    h2 {
      @apply tw-text-[1.5rem] tw-w-fit;
    }
  }
  .--hero-wrapper {
    @apply tw-h-full;
  }
  .--info-wrapper {
    @apply tw-flex-wrap tw-justify-between;
    & > div {
      @apply tw-flex-none;
    }
    &:nth-child(2) {
      border: none;
    }
  }
  .--info-wrapper > div:nth-child(1) {
    @apply tw-border-none;
  }
}
@media (min-width: 641px) {
  .--info-wrapper {
    @apply tw-flex-row;
  }
  .--hero-title {
    @apply tw-text-[2.4rem] tw-mt-1;
  }
  .--hero-description {
    @apply tw-text-[2rem];
  }
  .--grid-box {
    @apply tw-mt-4;
  }
  .count-title {
    @apply tw-text-[1rem] tw-w-fit;
  }
  .--hero-wrapper {
    @apply tw-h-full;
  }
  .--info-wrapper {
    @apply tw-flex-row tw-flex-wrap tw-justify-between;
    & > div {
      @apply tw-flex-none;
    }
    &:nth-child(2) {
      border: none;
    }
  }
}
@media (min-width: 961px) {
  .--grid-box {
    @apply tw-grid tw-grid-cols-2 tw-gap-y-2;
  }
  .--hero-title {
    @apply tw-text-[2.438rem] tw-mt-1;
  }
  .--hero-description {
    @apply tw-text-[2.438rem];
  }
  .--grid-box {
    @apply tw-mt-4;
  }
  .count-title {
    @apply tw-text-[1rem];
  }
  .--hero-wrapper {
    @apply tw-h-full;
  }
  .--info-wrapper {
    @apply tw-flex-row tw-flex-wrap tw-justify-between;
    & > div {
      @apply tw-flex-none;
    }
  }
}
@media (min-width: 1025px) {
  .--hero-title {
    @apply tw-mt-[5px] tw-text-[3.438rem];
  }
  .--hero-description {
    @apply tw-text-[2.3rem];
  }
  .--grid-box {
    @apply tw-mt-4;
  }
  .--hero-wrapper {
    @apply tw-h-full;
  }
  .--info-wrapper {
    @apply tw-flex-wrap tw-justify-between;
    & > div {
      @apply tw-flex-none;
    }
  }
}
@media (min-width: 1281px) {
  .--hero-title {
    @apply tw-text-[3.438rem];
  }
  .--hero-description {
    @apply tw-text-[3.438rem];
  }
  .--hero-wrapper {
    @apply tw-h-full;
  }
  .--info {
    @apply tw-w-full;
  }
  .count-title {
    @apply tw-text-[1.25rem] tw-w-[11rem];
  }
  .count {
    h2 {
      @apply tw-text-[4.5rem] tw-w-max;
    }
  }
  .--logo {
    @apply tw-block;
  }
  .small-logo {
    @apply tw-hidden;
  }
  .mega-menu {
    @apply tw-hidden;
  }
}
@media (max-width: 1390px) {
  .--desctipion-content {
    @apply tw-max-w-2xl;
  }
  .--grid-box {
    @apply tw-gap-y-2;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .--hero-wrapper {
    @apply tw-h-full;
  }
  .--info {
    @apply tw-w-full;
  }
  .--info-wrapper {
    @apply tw-flex-wrap;
  }
  .--logo {
    @apply tw-hidden;
  }
  .small-logo {
    @apply tw-block;
  }
  .hidden-in-md {
    @apply tw-hidden;
  }
  .mega-menu {
    @apply tw-flex;
  }

  .count {
    @apply tw-flex tw-justify-end;
    h2 {
      @apply tw-text-[1.9rem];
    }
  }
}
// for navbar
@media (max-width: 1124px) {
  nav {
    @apply tw-hidden;
  }
}
@media (min-width: 1124px) {
  .mega-menu{
    @apply tw-hidden;
  }
}
@media (min-width: 1281px) {
  .hidden-in-md {
    @apply tw-flex;
  }
}