@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/inter-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/inter-regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/inter-normal.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Swissra";
  src: url(../fonts/swissra/thin.otf) format("truetype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Swissra";
  src: url(../fonts/swissra/light.otf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Swissra";
  src: url(../fonts/swissra/normal.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Swissra";
  src: url(../fonts/swissra/bold.otf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Swissra";
  src: url(../fonts/swissra/semi-bold.otf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Swissra";
  src: url(../fonts/swissra/extra-bold.otf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Approach";
  src: url(../fonts/approach/normal.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Approach";
  src: url(../fonts/approach/mono_bold.otf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Approach";
  src: url(../fonts/approach/semi_bold.otf) format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
