:root {
  --primary: #fbaf40;
  --primary-rgb: 255, 240, 0;

  --secondary: #07090d;
  --secondary-rgb: 7, 9, 13;

  --third: #ffffff;
  --third-rgb: 255, 255, 255;

  --accent: #000000;
  --accent-rgb: 0, 0, 0;

  --bg: #ffffff;
  --bg-rgb: 240, 240, 240;

  --info: #1491e6;
  --info-rgb: 20, 145, 230;

  --error: #9f2b2b;
  --error-rgb: 159, 43, 43;

  --warning: #faad14;
  --warning-rgb: 250, 173, 20;

  --success: #4e8d12;
  --success-rgb: 78, 141, 18;

  --font-ar: "Alexandria", serif;
  --font-en: Inter, sans-serif;

  --font-helvetica-neue: "Helvetica Neue";
  --font-base-size: 1rem;

  --font-sm-size: 0.8rem;
  --font-xsm-size: 0.7rem;

  --font-lg-size: 1.7rem;
  --font-xlg-size: 2.1rem;
}
